@font-face {
    font-family: "FreeSans";
    src: url("../assets/fonts/FreeSans.ttf") format("ttf");
    
  }
  
  @font-face {
    font-family: "verdana";
    src: url("../assets/fonts/verdana.ttf") format("ttf");
  }

  .container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 0.25fr 1.5fr 0.25fr;
    grid-gap: 1vw;
    width: 80rem;
  }

  .text-Centered{
    magin-top: 5em;
    magin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
    grid-column: 2/3;
}

.text-Centered h1 {
    text-decoration: underline;
    text-decoration-color:#ff6363;
    font-size: 36px;
    padding-bottom: 20px;
    font-family: FreeSans;
    text-align: center;
}

.text-Centered h2{
font-size: 36px;
text-decoration: underline;
}

.text-Centered h3{
font-size: 28px;
}

.text-Centered h4{
font-size: 26px;
}

.text-centered img{
    flex-wrap: wrap;
    max-width: 90%;
}

.text-Centered p{
    font-size:26px;
}


.form1{
gird-column: 2/3;
margin: 1.5em;
border: 15px solid black;
}
