@font-face {
    font-family: "FreeSans";
    src: url("../assets/fonts/FreeSans.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "verdana";
    src: url("../assets/fonts/verdana.ttf") format("ttf");
  }

.content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1vw;
    width: 80rem;
}

.left-text-column {
    grid-column: 1/2;
    width: 100%;

}

.left-text-column h1 {
    text-decoration: underline;
    text-decoration-color:#ff6363;
    font-size: 36px;
    padding-bottom: 20px;
    font-family: FreeSans;
    text-align: center;
}

.left-text-column p {
    margin-top: 30px;
    font-size: 26px;
    font-family: verdana;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.right-articles-column {
    grid-column: 2/3;
    border-left: 3px dotted #ff6363;
    width: 100%;
}

.articles-title {
    margin-left: 10px;
    font-size: 36px;
    font-family: FreeSans;
    text-decoration: underline;
    text-decoration-color: #ff6363;
    margin-bottom: 40px;
}

.article {
    height: 6rem;
    display: flex;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.article-picture {
    height: 60%;
    width: 10rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}   

#first-article {
    background: url("../assets/images/little-pc-bro.jpg") center center / cover
    no-repeat;
}

.article-name {
    font-family: FreeSans;
    font-weight: bold;
    padding-left: 15px;
    line-height: 22px;
    cursor: pointer;
    width: 15rem;
}

.article::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--fuschia);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .article::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  .article:hover::after,
  .article:focus::after {
    transform: scale(1);
  }

.article:hover .article-picture {
    transform: scale(1.03);
  }

  .cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
    width: 450px;
    margin: 150px auto 50px auto;
    border-radius: 40px;
  background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    /* width: 330px; */
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
/*     background: #e54040; */
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   
/* ading the fa-eye css */
/* need to make the eye fixed compared to the buttons */
.fa-eye{
    position: absolute;
    top: 13px;
    right: 230px;
    cursor: pointer;
    color: lightslategray;
  }
  .div_container {
    position: relative;
  }