* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "FreeSans";
  src: url("../assets/fonts/FreeSans.ttf") format("ttf");
}

@font-face {
  font-family: "verdana";
  src: url("../assets/fonts/verdana.ttf") format("ttf");
}

:root {
  --void: white;
  --ard: rgb(83, 56, 56);
  --fuschia: #ff6363;
  --hover: #d15151;
  --jewel: #4717f6;
  --stark: black;
  --dark: rgb(36, 36, 36);
  --darker: rgb(93, 95, 96);
  --linear-dark: hsla(0, 0%, 0%, 0.445);
  --linear-darker: hsla(0, 0%, 0%, 0.712);
  --black: rgb(12, 12, 12);
  --main-font: "FreeSans";
  --main-font-bold: "FreeSansBold";
  --text-font: "verdana";
  --text-font-bold: "verdana-bold";
}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background-color: white;
  color: white;
  position: sticky;
  top: 0;
  font-family: var(--main-font);
  font-size: 22px;
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fuschia);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 34px;
}

.navbar {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  width: 25rem;
  align-items: center;
  color: var(--stark);
}

.navbar li a {
  text-decoration: none;
  color: var(--stark);
  transition: color 0.2s;
}

.navbar li a:hover {
  color: var(--fuschia);
}

.collapse-li {
  position: relative;
}

.collapse-div {
  width: 250px;
  font-size: 20px;
  position: absolute;
  bottom: -150px;
  left: 0px;
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.collapse-div li {
  padding: 5px 0 5px 10px;
  background-color: white;
}

.collapse-div li a {
  color: black !important;
}

.collapse-div li:hover {
  color: black;
  background-color: var(--fuschia);
}

.landing-page {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.introduction-text {
  background-color: rgb(1, 1, 66);
  width: 100%;
  height: 100%;
  background: url("../assets/images/hello.svg") center right / cover no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-bold);
  font-size: 28px;
}

.introduction {
  width: 90%;
}

.enter-name-details {
  background-color: transparent;
  width: 60%;
  height: 100%;
  color: white;

  font-family: var(--main-font);
  font-size: 22px;
}

.name-input {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  width: 24vw;
  color: black;
}

.name-input label {
  padding-bottom: 20px;
  align-self: center;
  color: black;
}

.name-input input {
  border: none;
  background-color: var(--stark);
  outline: none;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  text-align: center;
  color: white;
}

.enter-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.submit-button {
  margin-top: 20px;
  border-radius: 3px;
  height: 35px;
  width: 24vw;
  border: none;
  justify-self: flex-end;
  background-color: var(--fuschia);
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.submit-button:hover {
  background-color: var(--hover);
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  height: 70vh;
}

.news-1 {
  grid-column: 1/2;
  grid-row: 1/3;
  box-shadow: inset 0 -350px 130px rgba(0, 0, 0, 0.9);
}

.news-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  box-shadow: inset 0 -200px 130px rgba(0, 0, 0, 0.9);
}

.news-3 {
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: inset 0 -200px 130px rgba(0, 0, 0, 0.9);
}

.news {
  font-size: 2vw;
  font-family: var(--main-font);
  overflow: hidden;
  position: relative;
}

.news-images {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  position: relative;
}

.news-img1 {
  background: url("../assets/images/little-pc-bro.jpg") center center / cover
    no-repeat;
}

.news-img2 {
  background: url("../assets/images/pc-woman.jpg") center center / cover
    no-repeat;
}

.news-img3 {
  background: url("../assets/images/yikes-dont-clickit.jpg") center center /
    cover no-repeat;
}

.news:hover .news-images {
  transform: scale(1.1);
}

.news-headline {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-headline a {
  text-decoration: none;
  width: 90%;
  color: white;
  display: block !important;
  position: relative;
  padding: 0.2em 0;
}

.news-headline a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--fuschia);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.news-headline a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.news-headline:hover a::after,
.news-headline:focus a::after {
  transform: scale(1);
}

.resource-links-container {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.resource-links h1 {
  font-family: var(--main-font);
  font-size: 36px;
  margin-bottom: 50px;
}

.resource-links i {
  color: #ff6363;
}

.resource-links {
  width: 75rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.resources {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  padding-top: 2rem;
  font-family: var(--main-font);
  font-size: 30px;
}

.resource-container {
  width: 17rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resource {
  width: 100%;
  height: 80%;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 80px 100px rgba(255, 255, 255, 0.568);
  position: relative;
}

.resource i {
  position: absolute;
  left: 110px;
  top: -25px;
  font-size: 52px;
}

.resource-text {
  height: 15%;
}

.resource:hover {
  transform: scale(1.05);
}

.resource-1 {
  background: url("../assets/images/rando-guy.jpg") center center / cover
    no-repeat;
}

.resource-2 {
  background: url("../assets/images/another-pc.jpg") center center / cover
    no-repeat;
}

.resource-3 {
  background: url("../assets/images/another-pc.jpg") center center / cover
    no-repeat;
}

.resource-4 {
  background: url("../assets/images/facebook-confidential-code.jpg") center
    center / cover no-repeat;
}

.news-div-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.news-div {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 75rem;
}

.left-side-quiz {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

.right-side-quiz {
  width: 60%;
  height: 100%;
  background: url("../assets/images/quizimg.svg") center center / cover
    no-repeat;
}

.quiz-div {
  height: 60vh;
  background-color: rgb(36, 54, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.quiz-container {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-indicator {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.answer {
  height: 3rem;
  list-style: none;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
  padding-top: 1rem;
}

.answer:hover {
  background-color: blue;
  cursor: pointer;
}

footer {
  height: 30vh;
  background-color: black;
}

@media only screen and (max-width: 1220px) {
  .resource-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .resources {
    flex-wrap: wrap;
    height: 70vh;
  }

  .resource {
    height: 80%;
  }

  .resource-links-container {
    height: 120vh;
  }

  .resource-container {
    width: 17rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .resource-links h1 {
    padding-left: 15px;
  }
}
